@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif; /*Fonte do site*/
    margin: 0; /*Espaçamento externo*/
    padding: 0; /*Espaçamento interno*/
    box-sizing: border-box;
}