@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER FIXO */
.header-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* LOGO */
.logo-content img {
    height: 70px;
}

/* BUSCA */
.search-box {
    display: flex;
    width: 40%;
    margin-right: 95px;
}

.search-box input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #fc6b03;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

/* USUÁRIO */
.user-menu {
    position: relative;
}

.user-icon {
    width: 45px;
    height: 45px;
    background: #fc6b03;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    background: white;
    width: 150px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
}

.dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background: #f5f5f5;
}

.user-menu:hover .dropdown {
    display: flex;
}

/* MENU */
.header-navbar {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 12px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    flex-wrap: wrap;
}

.header-navbar a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: 0.3s;
}

.header-navbar a:hover {
    color: #fc6b03;
    transform: scale(1.1);
}

.header-navbar .active {
    color: #fc6b03;
    font-weight: bold;
    font-size: 1rem;
}

.cards-receitas {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.card-content{
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.card-content figure{
    padding-bottom: 20px;
    width: 200px;
    height: 150px;
}

.card-content figure img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: 3px solid #fc6b03;
    transition: 0.5s;
}

.card-content figure img:hover{
    transform: scale(1.1);
    border: 3px solid gold;
    cursor: pointer;
} 

.card-content figure figcaption{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fc6b03;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .search-box {
        width: 60%;
    }

    .header-navbar {
        gap: 10px;
        font-size: 12px;
    }

}
.posts {
    display: flex;
    gap: 30px;
    padding: 40px;
    margin-top: 50px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.post-card {
    width: 400px;
    height: 310px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.post-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* Avatar redondo */
.autor {
    position: absolute;
    bottom: 120px;
    left: 20px;
}

.autor img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
}

/* Conteúdo */
.post-info {
    padding: 20px;
}

.data {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.post-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.post-info span {
    color: #555;
    font-size: 14px;
}
.receitas-extra {
    padding: 40px;
    text-align: center;
}


.cards-baixo {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}


.card-baixo {
    width: 250px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-baixo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.nivel {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6b6b;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.nivel.medio {
    background: #f4c542;
}

.card-baixo h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.card-baixo p {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

/* Botão laranja */
.btn-receitas {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-receitas:hover {
    background: #e65c00;
}

.linha-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.linha {
    flex: 1;
    height: 1px;
    background: #ccc;
}

/* Botão */
.btn-receitas {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}


.btn-receitas:hover {
    background: #e65c00;
}

.card-baixo {
    overflow: hidden;
    border-radius: 12px;
}


.card-baixo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card-baixo:hover img {
    transform: scale(1.1);
}
.post-card {
    overflow: hidden;
    border-radius: 12px;
}

.post-img {
    transition: transform 0.4s ease;
}

.post-card:hover .post-img {
    transform: scale(1.1);
}

.noticias {
    width: 1000px;
    margin: 0 auto; /*aqui deixa as noticia no centralizada*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noticias h2{
    margin: 40px;
    color: #e65c00;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
}

.noticias .noticias-content{
    display: flex;
    flex-direction: column;
}

.noticias .noticias-content .content-not {
    width: 800px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.content-not img{
    width: 240px;
    object-fit: cover;
}

.content-textos {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-family: Arial, Helvetica, sans-serif;

}

.content-textos .data{
    color: gray;
    font-size: 0.8rem;
    
}

.content-textos .assunto-principal{
    color: gray;
    font-size: 1rem;

}

.content-textos .comentario{
    font-size: 0.8rem;
    color: gray;
}

.footer {
    background: #eee;
    text-align: center;
    padding: 60px 20px;
}

/* LOGO */
.logo-footer {
    color: #ff6600;
    font-size: 28px;
    font-weight: bold;
}

/* LINHA */
.linha-footer {
    width: 60%;
    height: 1px;
    background: #999;
    margin: 20px auto;
}

/* TEXTO */
.grupo {
    margin-bottom: 15px;
    color: #555;
}



.circle {
    width: 50px;
    height: 50px;
    background: blue;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.webedia .textos {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* REDES */
.redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

.redes i {
    width: 45px;
    height: 45px;
    background: #333;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.redes i:hover {
    background: #ff6600;
}


.apps-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
    margin-top: 10px;
}

/* LINKS */
.links-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.links-footer a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.links-footer a:hover {
    color: #ff6600;
}