/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER FIXO */
.header-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* LOGO */
.logo-content img {
    height: 70px;
}

/* BUSCA */
.search-box {
    display: flex;
    width: 40%;
}

.search-box input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #fc6b03;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

/* USUÁRIO */
.user-menu {
    position: relative;
}

.user-icon {
    width: 45px;
    height: 45px;
    background: #fc6b03;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    background: white;
    width: 150px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
}

.dropdown a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background: #f5f5f5;
}

.user-menu:hover .dropdown {
    display: flex;
}

/* MENU */
.header-navbar {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 12px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    flex-wrap: wrap;
}

.header-navbar a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: 0.3s;
}

.header-navbar a:hover {
    color: #fc6b03;
    transform: scale(1.1);
}

.header-navbar .active {
    color: #fc6b03;
    font-weight: bold;
    font-size: 1rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .search-box {
        width: 60%;
    }

    .header-navbar {
        gap: 10px;
        font-size: 12px;
    }

}